@use "../variablesAndResets" as vr;

.testimonialSection{
    //make the tesimonial section to have an image background with a dark overlay
    position: relative;
    padding: 1rem vr.$paddingMain;
    background-color: #3f3c3c;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(53, 51, 51, 0.8); // Semi-transparent black overlay and darken the image
        //filter: blur(5px); //add blur to the image
        z-index: 3; // Ensure it sits above the image but below the text
    }
}
