@use "../variablesAndResets" as vr;

.testimonialSection {
  position: relative;
  padding: 1rem vr.$paddingMain;
  width: 100%;
  background-color: #3f3c3c;
  background-image: url("../../imgs/testimonial-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(53, 51, 51, 0.8);
    z-index: 1;
  }

  .testimonialContainer, .heroimage {
    position: relative;
    z-index: 2;
  }
}