@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

$mainTextColor: #000;
$menuNavBgColor: #efefef;
$paddingMain: 6rem;
$paddingMobile: 5dvw;
$primary-color: #f13219;
$secondary-color: #f5f6fa;
$text-color: #222;
$accent-color: #ff6f61;
$border-radius: 12px;
$box-shadow: 0 4px 16px rgba(42, 42, 114, 0.08);
//screen breakpoints
$brkpoints:(
    xs: 480px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xl: 1600px
);

@mixin brkpoint($brkpoint){
    @if map-has-key($brkpoints, $brkpoint){
    @media (max-width: map-get($brkpoints, $brkpoint)){
        @content;
    }}
    @else{
        @warn "Invlid breakpoint: #{$brkpoints}.";
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Flex", sans-serif, system-ui;
    font-size:medium;
    font-weight: 500;
    color: $mainTextColor;
    overflow-x: hidden;

    @include brkpoint(md){
        &.no-scroll{
            overflow: hidden;
            height: 50vh;
        }
    }

}

